
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.nav{
    background-color: #e8eeea;
    padding: 0 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav-list{
    display: flex;
    flex-direction:row;
}
.nav-link{
    text-decoration: none;
    color: #00cc99;
    padding: 5px 10px;
    
  }
.container{
    width: 800px;
    margin: 0 auto;
  }
.title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }
.card{
    margin-bottom: 10px;
    display: flex;
  }
.card:nth-child(2){
    flex-direction: row-reverse;
  }
.card:nth-child(2) .card-img{
     margin-right: 0;
     margin-left: 5px;
  }
.card-img{
    margin-right: 5px;
  }
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn{
    width: 50px;
    padding: 8px 16px;
    color: white;
    background-color: #00cc99;
    text-decoration: none;
    display: block;
    margin-left: auto;
    text-align: center;
  }
