html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: "微軟正黑體";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
.header{
    display: flex;
    margin: 30px 42px;
    justify-content: space-between;
    align-self: center;

}
.hamburger{
    display: none;
}
.header ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-self: center ;
   

}
.link{
    font-weight: bolder;
    line-height: 24px;
    font-size: 16px;
    color:#3F5D45;
    display: block;
    padding-right: 60px;
}
.header a:hover{
    background-color:#EAF0ED ; /* Green */
}
.logo{
    width: 300px;
}
.banner img{
    max-width: 100%;
}
.main{
    margin: 60px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category{
    background-color: #3F5D45;
    color: white;
    font-size: 24px;
    line-height: 33px;
    padding: 16px 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border: solid 1px #3F5D45;
    
}
.menu{
    width:30%
}
.menu a{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: block;
    padding: 15px 0;
    border:#EAF0ED solid 1px;
    color: #3F5D45;
}

.menu a:hover{
    background-color: #EAF0ED;
    color: #3F5D45;
}
.list{
    width: 66%;
}
.item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product{
    position: relative;
    margin-bottom: 20px;
}
.product_info{
    display: flex;
}
.product_name{
    text-align: center;
    line-height: 56px;
    width: 171px;
    font-size: 20px;
    color: #3F5D45;
    border: solid 1px #EAF0ED;
}
.product_price{
    text-align: center;
    line-height: 56px;
    width: 125px;
    font-weight: bolder;
    font-size: 20px;
    color: #3F5D45;
    border: solid 1px #EAF0ED;
}
.cart:hover{
    background-color: #3F5D45; /* Green */
    color: #EAF0ED;
    border: none ;
    cursor: pointer;
}
.label{
    position: absolute;
    writing-mode: vertical-lr;
    left: 20px;
	background: #3F5D45;
	color: #fff;
    padding: 11px 0;
    font-size: 16px;
    letter-spacing:5px;
	line-height:36px;
	text-align: center;
}
.love{
    position: absolute;
    right: 20px;
    top: 20px
}
.love img:hover{
	background-image: url(https://imagizer.imageshack.com/img924/3998/ywcZU9.png);
}
button {
    width: 300px;
    line-height: 65px;
    padding: 0;
    text-align: center;
    background-color: #EAF0ED;
    font-weight: bolder;
    color: #3F5D45;
    font-size: 24px;
    border: none;
    outline:none;
    font-family: unset;
    
}

.page {
    display: flex;
    justify-content: flex-end;
    margin-right: 42px;
    margin-bottom: 20px;
}
.page div{
    text-align: center;
    width: 60px;
    line-height:60px;
    background-color: white;
    border: solid #EAF0ED 1px;
    font-size: 20px;
    color: #3F5D45;
    outline:none;
}

.page div:hover {
    background-color: #3F5D45; /* Green */
    color: #EAF0ED;
    border: none ;
    cursor: pointer;
  }
.page img{
    margin: 18px auto;
    
}
.footer{
    display: flex;
    flex-wrap: wrap;
    max-width:1024px;
    margin: 0 auto;
}
.footer_form{
    background-color: #3F5D45;
    display: flex;
    padding: 0 122px;
    justify-content: space-between;
    width: 100%;
}

.footer_name{
    display: flex;

}
.footer_form img{
    width: 40px;
}
.footer_form p{
    font-size: 24px;
    margin:auto 0 auto 20px;
    color: #EAF0ED;
    display: inline-block;
}
.text{
    width: 316px;
    height: 56px;
    background-color: #EAF0ED;
    border: none;
    padding: 0;
    margin: 0px;
    outline: none;
}
input::placeholder{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/mail-24px.png");
    font-size: 24px;
    background-repeat: no-repeat;
    background-position: 20px 3px;
    text-indent: 101%;
    white-space: nowrap;
    background-size: contain;
}
.form{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.submit{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png");
    background-repeat: no-repeat;
    background-position:center;
    background-color: #FFE180;
    outline: none;
    width: 56px;
    border: none;
    padding: 0;
    cursor: pointer;
}
.info{
    width: 100%;
    background-color: #EAF0ED;
    padding: 0 122px
}
.footer_main img{
    width: 171px;
    margin: 40px 0px;
}
.footer_main{
    display: flex;
    justify-content: space-between;
}
.footer_main p{
    padding-top: 20px;
    font-size: 23px;
    line-height: 40px;
    color: #3F5D45;
    font-weight: 900;
    writing-mode: vertical-rl;
    letter-spacing:5px;
}
.footer_main span{
    padding-top:20px;
}

.contact{
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #3F5D45;
    font-weight: bold;
    margin-top: 80px;
}
.social_media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;

}
.social_media img{
    width: 32px;
    margin:0px 8px 0px 0px;
    
}

.footer_else{
    display: flex;
    justify-content:space-between;
    margin:30px 0;
}
.copyright{
    text-align: right;
    padding-top: 16px;
    font: 16px;
    color: #3F5D45;
}



@media (max-width: 768px){
    .container{
        max-width: 600px;
    }
    .link{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .logo{
        width: 115px;
    }
    .header ul{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-self: center ;
        width:auto;
    }
    .menu{
        width: 100%;
    
    }
    .main{
        margin:0px;
    }
    .list{
        width: 100%;
        margin-top:30px ;
    }
    .item{
        justify-content: center;
        width: 100%;
        
    }
    .product{
        margin: 10px 5px;
    }
    .page{
        justify-content: center;
        margin-right: 0px;
    }

    .footer_form{
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 0 0 0;
    }
   
    .form{
        display: flex;
        justify-content: center;

    }
    .slogen{
        display: none;
    }
    .info{
        padding:0 0px ;
    }
    .footer_main img{
        margin-bottom: 0px;
    }
    .contact{
        margin:30px 0px;
    }
   .footer_else{
       flex-direction: column;
       justify-content: flex-start;
       margin:0px;
   }
   .footer_else p{
       text-align: start;
       margin: 30px 0;
   }

}
